.presentation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 147px 124px 148px;
  position: relative;
}

@media screen and (max-width: 1305px) {
  .presentation {
    padding: 0px 20px 124px 20px;
  }
}

@media screen and (max-width: 720px) {
  .presentation {
    flex-wrap: wrap;
    gap: 46px;
  }
}

@media screen and (max-width: 450px) {
  .presentation {
    align-items: flex-start;
    background-image: url(../../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 14px 60px;
  }
}

.presentation::before {
  content: '';
  width: 311px;
  height: 311px;
  top: 40px;
  left: -102px;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  background: #961A1A;
  filter: blur(196px);
  z-index: -1;
}

@media screen and (max-width: 450px) {
  .presentation::before {
    display: none;
  }
}

.presentation__description {
  max-width: 362px;
}

.presentation__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 31px;
}

@media screen and (max-width: 450px) {
  .presentation__title {
    font-size: 36px;
    line-height: normal;
    padding-bottom: 15px;
  }
}


.presentation__gradient {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation__gradient_size_big {
  background-image: linear-gradient(to right, #FCB045 40%, #FF3F78);
  font-weight: 900;
}

@media screen and (max-width: 450px) {
  .presentation__gradient_size_big {
    display: block;
    width: 100%;
    background-image: linear-gradient(to right, #FCB045, #FF3F78);
  }
}

.presentation__gradient_size_small {
  background-image: linear-gradient(to right, #FCB045 5%, #FD1D1D 43%, #FCB045 0%, #FD1D1D);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.9px;
}

@media screen and (max-width: 450px) {
  .presentation__gradient_size_small {
    background-image: linear-gradient(90deg, #FCB045 70%, #FD1D1D);
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: normal;
  }
}

.presentation__develop {
  max-width: 275px;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.presentation__present {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding-top: 16px;
}

@media screen and (max-width: 720px) {
  .presentation__present {
    padding-top: 0;
    margin-left: auto;
  }
}

@media screen and (max-width: 450px) {
  .presentation__present {
    text-align: left;
    max-width: 300px;
    margin: 0;
    padding: 0;
  }
}

.presentation__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding-right: 2px;
  padding-bottom: 41px;
}

@media screen and (max-width: 450px) {
  .presentation__subtitle {
    padding-bottom: 20px;
  }
}

.presentation__gift-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px 28px;
  padding: 0 0 63px;
}

@media screen and (max-width: 450px) {
  .presentation__gift-list {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 450px) {
  .presentation__gift-list {
    display: none;
  }
}

.presentation__item {
  max-width: 138px;
}

.presentation__gift {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: .9px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 7px;
}

.presentation__text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.presentation__mobile-gift-list {
  display: none;
  flex-wrap: wrap;
  gap: 14px 5px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .presentation__mobile-gift-list {
    display: flex;
    justify-content: flex-start;
  }
}

.presentation__mobile-gift {
  min-width: 102px;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 17px;
  position: relative;
}

.presentation__mobile-gift::before {
  content: '';
  width: 10px;
  height: 1px;
  background-image: url(../../assets/line.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 7px;
  left: 2px;
  z-index: 3;
}

.presentation__button {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  border: none;
  color: var(--light-text);
  background-color: var(--blue);
  padding: 20px 33px 21px 35px;
  margin-right: 3px;
  cursor: pointer;
  transition: opacity linear .5s
}

@media screen and (max-width: 450px) {
  .presentation__button {
    display: none;
  }
}

.presentation__button:hover {
  opacity: .7;
}
