.navigation {
  z-index: 1;
  flex-grow: 1;
}

.navigation__menu {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px 31px;
  padding: 0 0 1px;
}

@media screen and (max-width: 940px) {
  .navigation__menu {
    justify-content: space-between;
    gap: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 825px) {
  .navigation__menu {
    font-size: 12px;
    text-transform: uppercase;
    gap: 0;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .navigation__menu li:last-child {
    display: none;
  }
}
