.navigation {
  z-index: 1;
  flex-grow: 1;
}

.navigation__menu {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 31px;
  padding: 0 0 1px;
}

.navigation__menu li {
  max-width: inherit;
}

.navigation__menu_position_column {
  height: 140px;
  font-weight: 400;
  flex-direction: column;
  gap: 9px 53px;
}
