.footer {
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr;
  justify-content: flex-start;
  gap: 28px 98px;
  padding: 0px 148px 20px 150px;
}

.footer__title {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: var(--dark-gray);
  margin: 0;
  padding-bottom: 19px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__legal {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: normal;
  text-align: right;
  grid-column: 3;
}

.footer__copyright {
  margin: 0;
  padding-bottom: 5px;
}

.footer__privacy {
  color: var(--light-text);
}
