@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./vendor/variables/variables.css);

:root {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1440px;

  margin: 0 auto;

  color: var(--light-text);
  background-color: var(--black);
}

.list {
  list-style: none;
  margin: 0;
}

.link {
  width: 100%;
  text-decoration: none;
  color: var(--light-text);
  margin: 0;
  padding: 0;
  transition: opacity linear .5s;
}

.link:hover {
  opacity: .7;
}
