.contacts {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px 30px;
  flex-wrap: wrap;
  z-index: 1;
  padding: 0;
}

@media screen and (max-width: 1044px) {
  .contacts {
    gap: 10px;
  }
}

@media screen and (max-width: 825px) {
  .contacts {
    display: none;
  }

  .contacts_position_footer {
    display: flex;
  }
}

@media screen and (max-width: 635px) {
  .contacts {
    justify-content: flex-start;
  }
}


.contacts_position_footer {
  width: 100%;
  gap: 19px 11px;
}

@media screen and (max-width: 450px) {
  .contacts_position_footer {
    gap: 8px 10px;
  }
}

.contacts__item {
  padding-right: 17px;
  padding-bottom: 1px;
}

@media screen and (max-width: 1044px) {
  .contacts__item {
    padding-right: 0;
    padding-bottom: 1px;
  }
}

.contacts__item_position_footer {
  width: 100%;
  text-align: right;
  padding: 0;
  padding-right: 1px;
}

@media screen and (max-width: 635px) {
  .contacts__item_position_footer {
    text-align: left;
  }
}

.contacts__icon {
  display: block;
  width: 20px;
  height: 20px;
  padding-bottom: 1px;
  object-fit: cover;
}

@media screen and (max-width: 450px) {
  .contacts__icon {
    width: 24px;
    height: 24px;
    padding: 0;
  }
}

.contacts__address {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .contacts__address {
    font-size: 14px;
    padding-top: 4px;
    line-height: 1;
  }
}

